<html>
    <head>
       <title>{{title}}</title>
    </head>
    <body>
       <div class="entry">
            <h1>{{title}}</h1>
            <div class="body">
                {{{posts}}}
            </div>
        </div>
    </body>
</html>